*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial;
}

body{
  background: linear-gradient(135deg,#0f172a,#1e293b);
  color:white;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  position: sticky;
  top:0;
}

.logo{
  font-size:20px;
  font-weight:bold;
}

nav a{
  color:white;
  margin:0 10px;
  text-decoration:none;
  opacity:0.7;
}

nav a:hover{
  opacity:1;
}

/* HERO */
.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:60px;
}

.hero img{
  width:350px;
  border-radius:20px;
}

.hero h1{
  font-size:40px;
}

/* BUTTON */
.btn{
  padding:10px 15px;
  background:#22c55e;
  border:none;
  color:white;
  border-radius:10px;
  cursor:pointer;
}

/* NOTES GRID */
.container{
  padding:30px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:15px;
}

.card{
  background:rgba(255,255,255,0.08);
  padding:15px;
  border-radius:15px;
  backdrop-filter: blur(10px);
}

.card img{
  width:100%;
  border-radius:10px;
  margin-bottom:10px;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  margin-top:40px;
  background:rgba(255,255,255,0.05);
}